#linked-list-container {
    /* display: flex; */
    background-color: rgb(21, 21, 21);
}

#linked-list-container > div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 30px;
    height: 30px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: rgb(48, 48, 48);
    color: white;
    border-radius: 50%;
}
