body {font-size:11pt;font-family:arial,sans-serif;margin:5px 8px;}
a {color:#3333FF;text-decoration:none;}
a[href]:hover {color:#CC0000;background:#FFFFCC;}
small {font-size:75%}
pre {background:#EEEEFF;border:thin solid #9999CC;margin:5px 20px 5px 20px;padding:4px 8px;}
li.subq {font-size:13pt;font-weight:bold;}
p.qtext {font-size:11pt;font-weight:normal;}
pre.qtext {font-size:11pt;font-weight:normal;}
span.toggle {font-size:67%;}
span.notice {font-size:110%;}
span.tiny {font-size:75%;font-weight:normal;}
span.heading {font-size:18pt;font-weight:bold;color:#996600;}
span.subheading {font-size:14pt;font-weight:bold;color:#663300;}
span.marks {font-weight:normal;font-size:75%;}
span.identifier {color:#993300;font-size:110%;font-weight:bold;font-family:courier;}
span.comment {color:#999999;font-size:90%;}
tr.heading {font-size:large;font-weight:bold;background-color:#EEBB66;}
th {font-size:11pt;}
td {font-size:11pt;}
table.note {border:thin solid black;padding:2pt;width:75%}
div.note {border:thin solid black;font-size:90%;margin:5px 60px 5px 60px;padding:4px 8px;}
dt.item {font-weight:bold;}
.red {color:#CC0000;}
.green {color:#006600;}
.blue {color:#0000CC;}
.brown {color:#993300;}
.comment {font-size:90%;color:#666666}
.important {font-weight:bold;color:#CC0000;}
.bigQ {font-size:13pt;font-style:italic;}
tt {color: darkmagenta;} 

