/* --------------------------- Global Style Rules --------------------------- */

html {
    scroll-behavior: smooth;
}

// MUI Image List Item Bar override styles
.MuiImageListItemBar-subtitle {
    white-space: normal !important;
}

// Scrollbar style
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #141414;
}

/* ------------------------------ Custom Fonts ------------------------------ */

// Using Atlassian's font: https://atlassian.design/foundations/typography

@font-face {
    font-family: AtlassianText;
    src: local('AtlassianText'),
        url(./assets/fonts/atlassian/CharlieText-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: AtlassianText;
    src: local('AtlassianText'),
        url(./assets/fonts/atlassian/CharlieText-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: AtlassianText;
    src: local('AtlassianText'),
        url(./assets/fonts/atlassian/CharlieText-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: AtlassianText;
    src: local('AtlassianText'),
        url(./assets/fonts/atlassian/CharlieText-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'AtlassianText';
    background: black;
    margin: 0;
}
