::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: insert 0 0 6px rgba(0,0,0,0.3);
    background: #F5F5F5 !important;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}