# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Gemfile
!Gemfile

### Above combination will ignore all files without extension ###


deprecated
*.o
.vscode/
practice-material/
*.out
