.root {
  height: 48px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100vw;

  .setSpeedButton {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;

    .setSpeedButtonIcon {
      left: 0;
      width: 50%;
      position: absolute;
    }

    .currSpeed {
      left: 50%;
      position: absolute;
    }
  }

  .sliderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    
    .sliderIcon {
      align-self: center;
      margin-right: 5px;
    }

    .timelineSlider {
      appearance: none;
      width: 100%;
      height: 25%;
      align-self: center;
      background: #aeabba;
      cursor: pointer;
    }

    // Chrome/Opera/Safari/Edge slider thumb
    .timelineSlider::-webkit-slider-thumb {
      appearance: none;
      height: 12px;
      width: 5px;
      background: #FAFAFA;
    }

    // Firefox Slider Thumb
    .timelineSlider::-moz-range-thumb {
      border-radius: 0;
      border: none;
      height: 100%;
      width: 5px;
      background: #FAFAFA;
    }
  }

  .resetButton {
    margin-left: 10px;
    margin-right: 10px;
  }


}


