.root {
  height: 48px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100vw;

  .setSpeedButton {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;

    .setSpeedButtonIcon {
      left: 0;
      width: 50%;
      position: absolute;
    }

    .currSpeed {
      left: 50%;
      position: absolute;
    }
  }

  .sliderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    
    .sliderIcon {
      align-self: center;
      margin-right: 5px;
    }

    .timelineSlider {
      width: 100%;
    }
    
  }

}
.createResetMenu {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 200px;
  position:absolute;
  top:80px;
  right:10px;
  gap: 10px
}

.resetButton {
  width: 100%;
}
