.No-spacing {
  margin : 0px;
}

.spacing {
  margin : 5px;
  padding-bottom: 15px;
}

.card-spacing {
  padding : 10px;
}

.centering {
  align-items: center;
  vertical-align: middle;
  // margin: auto;
  text-align:center;
  justify-content: center;
  justify-items: center;
}