.pane {
    overflow-y: auto !important;
    &.vertical {
        // Subtracting the height of the topnav
        height: calc(100vh - 48px) !important;
    }

    &.horizontal {
    }
    // Scrollbar styles
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #292929;
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: #292929;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(15, 15, 15, 0.39);
        background-color: #5375d3;
    }

    &::-webkit-scrollbar-corner {
        background-color: #292929;
    }
}
