.pane {
    overflow: hidden; // For hiding the scrollbar caused by the vertical pane's resizer handle

    &.vertical {
        overflow-y: auto !important;
    }

    .topGutter {
        // Subtracting the height of the topnav
        height: calc(100vh - 64px) !important;
    }
}
