// Stack frame formatting

:root {
    --edge-text-padding: 10px;
}

.stackInspector {
    font-size: 14px;
    height: 100%;
    overflow-y: auto;
}

.frame {
    margin-top: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
    //width: 400px; // Arbitrary narrow value
}

.frameHeader {
    // TODO -- would be nice to make it look like a fieldset legend
    padding: 4px var(--edge-text-padding);
    border-bottom: 1px solid #DDD;
}

// CSS grid formatting to get <dl> terms and descriptions on same line

dl {
    //overflow: hidden;
    //margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
}

dd {
    // padding: 0 6px 4px;
    // margin: 2px 4px;
    margin: 0;
    overflow: hidden;
}

dd:nth-child(4n+2) {
    background-color: azure;
}

dt {
    display: flex;
    align-items: center;
    padding: 0 15px 0 0;
}

dt:nth-child(4n+1) {
    background-color: azure;
}

.collapsebutton {
    color: inherit;
    text-decoration: none;
    margin-left: 0;
    font-size: 16px;
}

// Misc. span formatting

.function {
    font-weight: bold;
}

.location {
    color: #555;
    font-style: italic;
}

/*
.name, .type {
    padding: 1px;
}
*/

dt > code {
    padding-left: var(--edge-text-padding);
}

.name {
    // Variable name
}

.type {
    // Variable type
    color: rebeccapurple;
}

.value {
    // TODO: Syntax highlighting?
    border: 1px solid lightgrey;
    border-radius: 4px;
    background: lightgrey;
    color: darkgreen;
    display: inline-block;
    line-height: 1.3rem;
    float: right;
    margin: 2px;
    padding: 0 3px;
    max-width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expandedvalue {
    white-space: pre-wrap;
    overflow: visible;
}

dd:nth-child(2) > .value {
    margin-top: 3px;
}

dd:last-child > .value {
    margin-bottom: 2px;
}

.hidden {
    display: none;
}

.deref {
    color: #666;
}

.arrow {
    padding-left: 1em;
    color: #666;
}
