.container {
  display: flex;
  height: 100vh;
  max-width: 1200px;
  min-width: 1200px;
}

.control-panel {
  flex: 0 0 4.5%; 
  max-width: 60px;
  background-color: #333;
  color: #fff;
  z-index: 10;
}

.linked-list {
  flex: 0 0 80%;
  max-width: 1200px;
  background-color: #f0f0f0;
  z-index: 1;
  position: relative; /* set position to relative */

  display: flex;
  flex-direction: column;
}

.linked-list .LinkedList {
  flex: 0 0 80%;
  width: 100%;
  overflow-y: auto; /* Enable scrolling if the content gets taller than 80% of the height */
}

.linked-list .timeline {
  flex: 0 0 20%;
  width: 100%;
  background-color: #d0d0d0;
  z-index: 2;

  display: flex;
  flex-direction: row;
  padding: 40px;
}

.state-button {
  flex-basis: 30%;

  height: 50px;
  margin-right: 40px;
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.DEBUG {
  flex: 0 0 30%;
  min-width: 500px;
  background-color: #ccc; /* Change the background color to make it visible */
  z-index: 1; /* Adjust the z-index if necessary */
  overflow-y: auto;
}