.splashScreen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgb(0, 0, 0), #000000cc);
    z-index: 100;

    .splashContents {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        font-size: 175%;
        text-align: center;

        .title {
            color: rgb(216, 216, 216);
            font-family: 'Ubuntu Mono';

            .prompt {
                color: greenyellow;
            }
        }

        .brandImage {
            height: 150px;
            width: auto;
            display: block;
            margin: 0 auto;
        }
    }
}
