.eduMaterialPage {
	margin-top: 65px;
  display: flex;
  align-items: flex-start;
}

.sidebar {
	flex: none;
	margin-right: 20px;
}

.mdxContent {
	flex: 1;
	margin-left: 290px;
	width: 100%;
}

.mdxContentCenter {
	margin: 0 auto;
	width: 50%;
}
