.learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
	min-height: 100vh;
}

.learningLayout {
  display: flex;
  align-items: flex-start;
}

.learningLeft {
  position: sticky;
  margin-left: 2rem;
  width: 300px;
  top: 100px;
  color: #212427;
  font-family: "monument-regular",sans-serif;
  background: rgba(255,255,255,1);
  border-radius: 1rem;
  border: 2px solid rgb(182, 134, 255);
  backdrop-filter: blur(5px);
}

.learningLeftTitle {
  padding: 1rem 1.5rem;
  border-bottom: 2px solid rgb(182, 134, 255);
}

.learningLeftTitle h2 {
  margin: 0;
  font-size: 2rem;
}

.learningLeftTopic button {
  display: block;
  font-size: 1rem;
  height: 2.3rem;
  letter-spacing: 1px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  width: 85%;
}

.learningLeftTopic button:hover {
  padding-left: 2rem;
}

.activeLink {
  border-left: 3px solid rgb(56, 19, 187);
  font-weight: 700;
  color: rgb(143, 70, 255);
}

.inactiveLink {
  font-weight: 500;
}

.learningRight {
  flex: 1;
  scroll-behavior: smooth;
  color: #212427;
}
