.learning {
	min-height: 100vh;
	background: rgb(179,135,222);
	background: radial-gradient(circle, rgba(179,135,222,1) 0%, rgba(140,162,220,1) 100%);
}

.learningLayout {
  display: flex;
}

.learningLeft {
  flex: 1;
  position: fixed;
  height: auto;
  width: 300px;
  background: rgba(255,255,255,0.4);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(5px);
  top: 10%;
  left: 300px;
}

.learningRight {
  flex: 2;
  scroll-behavior: smooth;
}

.learningLeftTitle {
  padding: 0 24px;
  padding-top: 16px;
}

.learningLeftTitle h2 {
  margin: 0;
}

.learningLeftTopic {
  padding: 8px 24px;
}

.learningLeftTopic a {
  color: white;
  text-decoration: none;
}

.activeLink {
  font-weight: bold;
}
