$topNavSize: 48px;

.container {
    position: static;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    * {
        color: black;
    }

    .verticalPane {
        bottom: 0;
        height: calc(100% - $topNavSize);
    }
}
