.header {
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    background-image: linear-gradient(#231F5A, #2A3882);
    
    .headerContent {
        position: absolute;
        display: block;
        width: 100%;
        margin: 0 auto;
        top: 20%;
        text-align: center;

        .description {
            max-width: 400px;
            display: block;
            margin: 0 auto;
        }
    }
}

.features {
    padding: 24px;
}
