.header {
    width: 100vw;

    .headerContent {
        text-align: center;

        .title {
            font-size: 400%;
            margin-bottom: 20px;
        }

        .description {
            font-size: 150%;
            width: 400px;
            display: block;
            margin: 0 auto;
        }
    }
}
