.headerContent {
    .title {
        color: white;
        font-size: 400%;
        margin-bottom: 20px;
    }

    .description {
        font-size: 150%;
        opacity: 0.75;
        width: 400px;
        display: block;
        margin: 0 auto;
    }

    .searchbarContainer {
        margin: 15px;
    }
}
