.header {
    width: 100vw;
    height: 100vh;

    .headerContent {
        position: absolute;
        display: block;
        width: 100%;
        margin: 0 auto;
        top: 20%;
        text-align: center;

        .description {
            max-width: 400px;
            display: block;
            margin: 0 auto;
        }
    }
}

.features {
    padding: 24px;
}
