.card {
  margin: 0 1.75rem;
  margin-bottom: 1.5rem;
  position: relative;
  top: 100px;
	background: rgb(255,255,255);
  border-radius: 1rem;
	border: 2px solid rgb(182, 134, 255);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
  letter-spacing: 1px;
}

.topic {
  padding: 0 24px;
  border-bottom: 2px solid rgb(182, 134, 255);
}

.subtopics {
  display: flex;
  flex-direction: column;
}

.subtopics button {
  margin: 0;
  padding: 12px 24px;
  cursor: pointer;
}

.subtopics button:hover {
  color: rgb(80, 0, 208);
}

.subtopics div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.subtopicContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
}

.quizButton, .subtopicButton {
  flex: 1 1 48%;
  text-align: center;
  padding: 0.5rem 0;
  background-color: #ffffff;
  border: 1px solid #b686ff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.05em;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.quizButton:hover, .subtopicButton:hover {
  background-color: rgb(189, 156, 233);
  color: #fff;
}


.noQuiz {
  flex: 1 1 54.5%;
  text-align: center;
  padding: 0.5rem 0;
  color: #666;
}

