.featureSection {
    .title {
        text-align: center;
    }

    .logo {
        display: block;
        margin: 10px auto;
        max-width: 100px;
    }

    .featureItem {
        text-align: left;
        margin-bottom: 48px;
    }
}
