@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slide img {
    width: 20rem;
    margin: 0 auto;
    height: 100px;
}

.slide {
    transform: scale(0.2);
    transition: all 400ms;
    opacity: 0.5;
}

.activeSlide {
    transform: scale(1) translateY(80px);
    opacity: 1;
}
.adjacentSlide {
    transform: scale(0.5) translateY(40px);
    opacity: 0.8;
}

.slick-list,
.slick-track {
    min-height: 300px;
}

.slick-slider {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}
