# Example config for nsjail

name: "debugger"


mode: ONCE
hostname: "DEBUGGER"
cwd: "/"


time_limit: 0


envar: "HOME=/root"
envar: "PATH=/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

clone_newnet: false

mount {
    src: "/"
    dst: "/"
    is_bind: true
    rw: true
    is_dir: true
    mandatory: true
    nodev: true
    nosuid: true
}

# exec_bin {
# 	path: "/usr/local/bin/python3"
# 	arg: "app/src/serve.py"
# }
