bidict==0.22.1
dnspython==2.4.2
eventlet==0.33.3
greenlet==2.0.2
python-engineio==4.6.0
python-socketio==5.8.0
six==1.16.0
pygdbmi==0.11.0.0
pycparser==2.21
requests==2.32.2
websocket-client==1.6.2
charset-normalizer==3.2
idna==3.7
urllib3==2.2.2
certifi==2023.7.22
