.current-line-marker {
  background-color: #B1BAE5;
  position: absolute;
}

.cm-theme-light, .cm-theme-dark {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.cm-editor {
    background: transparent;
}

.cm-focused {
    outline: none !important;
}
