@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/slate-dark.css';
@import './global.module.css';

.annotatorInput {
  font-family: monospace;
  width: 4rem;
}

.configuratorItem {
  display: flex;
  justify-content: space-between;
}

.field {
  margin-left: 2rem;
}
