.console {
  overflow-y: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: text;
  word-break: break-all;
  height: 100%;
  white-space: pre-wrap;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: monospace;
}

.textArea {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.inputContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.inputMirror {
  display: block;
  min-height: 1rem;
  width: 10rem;
  word-break: break-all;
  white-space: pre-wrap;
  position: relative;
  border: 2px dashed black;
  padding: 1rem;
}

.inputCursor {
  position: absolute;
  color: lightgray; /* Color.back */
  background: black; /* Color.front */
  height: 1.5rem;
  width: 9.6px; /* fontWidth in pixels */
  display: inline-block;
}