.errorText {
  color: red;
  font-size: x-small;
}

.console {
  overflow-y: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: text;
  word-break: break-all;
  height: 100%;
  white-space: pre-wrap;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .consoleInput {
  display: flex;
  white-space: nowrap;
  height: 100%;

} */

.textArea {
  /* display: inline-block; */
  min-width: 1em;
  min-height: 1em;
  outline: none;
  color: rgb(47, 70, 173);
  font-weight: bolder;
  height: 100%;
  border: none;
  /* width: 100%; */
  /* margin-left: 10px; */
}

/* .input {
  width: 100%;
  height: 1.5em;
  background: black;
  color: white;
  border: none;
  font-family: monospace;
  resize: none;
  outline: none;
} */
