.errorText {
  color: red;
  font-size: x-small;
}

.console {
  overflow-y: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: text;
  word-break: break-all;
  white-space: pre-wrap;
  box-sizing: border-box;
  display: flex;
}

.input {
  display: inline-block;
  min-width: 1em;
  min-height: 1em;
  outline: none;
  color: rgb(47, 70, 173);
  font-weight: bolder;
  width: 100%;
}
