@import '@radix-ui/colors/slate.css';
@import './global.module.css';

.timeline {
  display: flex;
  align-items: center;
}

.Button {
  display: flex;
  align-items: center;
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
  border: var(--border);
  cursor: pointer;
}

.Button:hover {
  background: var(--slate-3);
}

.Button:active {
  background: var(--slate-5);
}
