@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/slate-dark.css';
@import './global.module.css';


.layout {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 50px;
  width: 100vw;
  height: 100vh;
  background: var(--slate-2);
  color: var(--slate-12);
  overflow-x: hidden;
  position: fixed;
}

.layout>* {
  min-width: 0;
  min-height: 0;
}

.pane {
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  box-sizing: border-box;
  padding: 10px;
}

.nav {
  grid-column: 1 / -1;
  grid-row: 1;
  border-bottom: var(--border);
}

.files {
  grid-column: 1;
  grid-row: 2 / -1;
  border-right: var(--border);
}

.editor {
  grid-row: span 2;
}

.inspector {
  padding-bottom: 0;
  grid-column: 3;
  grid-row: 2;
  border-bottom: var(--border);
}

.visualiser {
  padding: 0;
  grid-column: 3;
  grid-row: 3;
}

.timeline {
  grid-column: 2 / -1;
  grid-row: 4;
  border-top: var(--border);
  display: flex;
  align-items: center;
}
