.container {
    margin: 0 auto;
    .searchIcon {
        margin-right: -25px;
    }
    .searchbar {
        background-color: rgba(255, 255, 255, 0.25) !important;
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.6) !important;
        padding-left: 36px !important;

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }
}
