.sidebar {
    max-width: 300px;

    .link {
        text-decoration: none;
        color: inherit;
    }

    .logo {
        height: 48px;
    }

    .filter {
        margin-top: 5px;

        .filterIcon {
            height: 32px;
            width: auto;
        }
    }
}
