@mixin reset-link {
    color: inherit;
    text-decoration: none;
}

.link {
    @include reset-link;
}

.centralBox {
    display: flex;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    a {
        @include reset-link;
        transition: 0.125s all ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }


    img {
        height: 48px;
    }

}

.darkModeButton {
    color: white !important;
}
